<br>
<center>
  <h4 class="header section-title">
  <i class="fa fa-envelope-o" aria-hidden="true"></i>
  Team Members
  </h4>
<center>


<div class="row row-content">
    <div class="card small col lg4 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "aakar.jpg", style:"display:block; width:150px; min-width:0px; min-height:0px; top:25%;", class: "circle-responsive img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Aakar Dwivedi<i class="material-icons right">more_vert</i></span>
      <p><a href="https://in.linkedin.com/in/aakar-dwivedi-0201a5b0" target="_blank">Connect</a></p>
    </div>
    <div class="card-reveal">
      <h4><span class="card-title grey-text text-darken-4">Aakar Dwivedi<i class="material-icons right">close</i></span></h4>
      <p>I am a third year student of Indian Institute of Technology(Indian School of Mines) Dhanbad, pursuing Integrated Master of Technology in Mathematics and Computing.</br>My areas of research are Parallel Computation using Compute Unified Device Architecture(CUDA) via programming in CUDA C and Data mining and analysis. I am good at designing algorithms to obtain desired results.</p>
    </div>
  </div>
   <div class="card small col lg4 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "parardha.jpg", style:"display:block; width:150px; min-width:0px; min-height:0px; top:25%;", class: "circle-responsive img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Parardha Kumar<i class="material-icons right">more_vert</i></span>
      <p><a href="https://in.linkedin.com/in/parardha" target="_blank">Connect</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Parardha Kumar<i class="material-icons right">close</i></span>
      <p>I am a third year student pursuing Integrated Master of Technology with majors in Mathematics and Computer Science from Indian Institute of Technology, Dhanbad. I am a Full Stack Web Developer and Data Science enthusiast.</p><p>I have interned as a developer at Coins Thailand, Bangkok. I am currently working on two major projects related to Data Science and Analysis. I am also a passionate learner of algorithm and am a problem solver.</p><p>I am a team player and am actively looking for opportunities in the field of Computer Science.</p>
    </div>
  </div>
  <div class="card small col lg4 m4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "anurag.jpg", style:"display:block; width:150px; min-width:0px; min-height:0px; top:25%;", class: "circle-responsive img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Anurag Singh<i class="material-icons right">more_vert</i></span>
      <p><a href="https://in.linkedin.com/in/anurag-singh-b63113b9" target="_blank">Connect</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Anurag Singh<i class="material-icons right">close</i></span>
      <p>I am a student of Indian Institute of Technology(Indian School of Mines) Dhanbad, pursuing Integrated Master of Technology in Mathematics and Computing.</p>
      <p>My areas of research are Artificial intelligence and Machine learning. I am currently working on use of neural and recurrent neural networks to develop various models. I am also a coding enthusiast and love solving logical puzzels.</p>
      <p>I am an active participant in all on-campus events in the college. I am also an AIESEC alumni, which is an international youth based organisation.</p>
    </div>
  </div>
</div>

<div class="row row-content">
    <div class="card small col lg6 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "koyena.jpg", style:"display:block; width:150px; min-width:0px; min-height:0px; top:25%;", class: "circle-responsive img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Koyena Das<i class="material-icons right">more_vert</i></span>
      <p><a href="https://in.linkedin.com/in/koyena-das-a4b14b137" target="_blank">Connect</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Koyena Das<i class="material-icons right">close</i></span>
      <p>I am a second year student of Indian institute of Technology(Indian School of Mines) Dhanbad, pursuing Bachelor of Technology in Electrical Engineering.</p>
<p>I am currently working on Matlab Model of Dc Machines and Inductor Motor and their implementation in Simulink under the guidance of Asst.Professor Sukanta Das.</p>
<p>I am an active participant in college events and have also organised a workshop in the Techno-Management fest.I am a member of the Abhay Dramatics Club and we were the second runner up at the Inter IIT Cultural meet,2016.</p>
    </div>
  </div>
   <div class="card small col lg6 m6">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "rajat.jpg", style:"display:block; width:150px; min-width:0px; min-height:0px; top:25%;", class: "circle-responsive img" %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Rajat Dubey<i class="material-icons right">more_vert</i></span>
      <p><a href="https://in.linkedin.com/in/rajat-dubey-58b629113" target="_blank">Connect</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Rajat Dubey<i class="material-icons right">close</i></span>
      <p>I am pursuing Integrated Masters of Technology in Mathematics and Computing from Indian Institue of Technology, Dhanbad. My principle area of interest is in the field of Data Analytics and Machine Learning particularly, development of mathematical and computational models for development of analysis of data accurately</p>
      <p>I work in areas Java Applets, Software Development in Java, Contribution to Free Open Software Services, Competitive Coding, and to be always on the desire to learn exciting new technologies.</p>
      <p>I am also involved in many on-campus activities. Currently I am working in the Marketing and Promotion Team of Basant-2017(Alumni Fest) and also worked in the past as organizer in Basant 2016 and Srijan-2016(Cultural Fest). Apart from that I am also part of Website Development Team of respective fests.</p>
    </div>
  </div>
</div>
